button {
    align-self: center;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
  }