@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

h2,
h3,
h4 {
   font-size: 32px;
   font-weight: 700;
   font-family: "Open Sans", sans-serif;
}
h5{
   font-size: 18px;
   font-weight: 700;
   font-family: "Open Sans", sans-serif;  
}

p {
   font-size: 16px;
   font-weight: 400;
   font-family: "Open Sans", sans-serif;
}

.short-desc{
   font-size: 22px;
   font-weight: 600;
   color: rgba(0,0,0,0.6);  
}

.long-desc{
   font-size: 16px;
   font-weight: 400;
   color: rgba(0,0,0,0.6);  
}

.link{
   font-family: "Open Sans", sans-serif;
}
