.arrow{
    width: 0;
    height: 0;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    border-bottom: 20px solid white;
    position: absolute;
}

.line {
    width: 268px;
    height: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }